html{
background-image: url(gradienBG.png);
}

body{
	margin: 0;
}

#AppBanner{
	color: white;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 10px;
}

.container{
	width: 40%;
	height: 38%;
	text-align: center;
	background-color: #103268;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 150px;
} 

.container img{
	width: 120px;
	height:120px;
	margin-top: -50px;
	margin-bottom: 30px;
}

input[type="text"]{
	height: 30px;
	width: 80%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

select{
	height: 33px;
	width: 85%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

select option{
	height: 30px;
	width: 80%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

form-input:before{
	background: url(usericon.png);
	content: "f007";
	position: absolute;
	font-size: 40px;
	color: #985986;
	padding-top: 5px;
}

select:before{
	background: url(usericon.png);
	content: "f007";
	position: absolute;
	font-size: 40px;
	color: #985986;
	padding-top: 5px;
}

.loginBTN{
	padding: 14px 23px;
	color: #fff;
	background-color: #2ECC54;
	border: none;
	border-radius: 4px;
	border-bottom: 4px solid #27AE60;
	margin-bottom: 5px;
}

.loginBTN:hover{
	opacity: 0.8;
	cursor:pointer;
}

@media (max-width: 500px) and (max-height: 800px) {
    #AppBanner h1{
		font-size: 20px;
	}
	
	#AppBanner h3{
		font-size: 16px;
	}

    
	.container{
	width: 50%;
	height: 90%;
	text-align: center;
	background-color: #103268;
	border-radius: 5px;
   } 
   .container img{
	width: 100px;
	height:100px;
	margin-top: -50px;
	margin-bottom: 30px;
  }
  input[type="text"]{
	height: 30px;
	width: 80%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
 }
 
 select{
	height: 33px;
	width: 90%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

select option{
	height: 33px;
	width: 80%;
	font-size: 15px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 20px;
}

}